<br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Oscs" asp-action="Index"><img src="~/images/oscs.png" width="150" height="150" /></a>
        </div>
        <span>Cadastro de Organizações</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Membros" asp-action="Index"><img src="~/images/clientes.png" width="150" height="150" /></a>
        </div>
        <span>Cadastro de Membros</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Usuarios" asp-action="Index"><img src="~/images/homMul.png" width="150" height="150" /></a>
        </div>
        <span>Cadastro de Usuários</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Produtos" asp-action="Index"><img src="~/images/produtos.png" width="150" height="150" /></a>
        </div>
        <span>Cadastro de Produtos</span>
    </div>
</div>
<br /><br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Fornecedores" asp-action="Index"><img src="~/images/fornecedor.png" width="150" height="150" /></a>
        </div>
        <span>Cadastro de Fornecedores</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Produtos" asp-action="Index"><img src="~/images/vendas.png" width="150" height="150" /></a>
        </div>
        <span>Registro de Entregas</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/oscs.png" width="150" height="150" /></a>
        </div>
        <span>Relatórios</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/configuracoes.png" width="150" height="150" /></a>
        </div>
        <span>Configurações</span>
    </div>
</div>
