<br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Oscs" asp-action="Index"><img src="~/images/oscs.png" width="150" height="150" /></a>
        </div>
        <span class="text-success">Organizações</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Membros" asp-action="Index"><img src="~/images/clientes.png" width="150" height="150" /></a>
        </div>
        <span class="text-success">Membros</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Usuarios" asp-action="Index"><img src="~/images/homMul.png" width="150" height="150" /></a>
        </div>
        <span class="text-success">Usuários</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Fornecedores" asp-action="Index"><img src="~/images/fornecedor.png" width="150" height="150" /></a>
        </div>
        <span class="text-success">Fornecedores</span>
    </div>
</div>
<br /><br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Produtos" asp-action="Index"><img src="~/images/produto.png" width="150" height="150" /></a>
        </div>
        <span class="text-success">Produtos</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Entregas" asp-action="Index"><img src="~/images/enviar.png" width="150" height="150" /></a>
        </div>
        <span class="text-success">Entregas</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Recebimentos" asp-action="Index"><img src="~/images/ok.png" width="150" height="150" /></a>
        </div>
        <span class="text-success">Recebimentos</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a asp-controller="Recebimentos" asp-action="Index"><img src="~/images/relatorios.png" width="150" height="150" /></a>
        </div>
        <span class="text-success">Relatórios</span>
    </div>
</div>
